<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
* Evozon Core module configuration
*
* @package     Evozon_Core_etc
* @copyright   Copyright (c) Evozon Systems (http://www.evozon.com/)
* @author      Constantin Bejenaru <constantin.bejenaru@evozon.com>
*/
-->
<config>
    <modules>
        <Evozon_Core>
            <version>0.1.1</version>
        </Evozon_Core>
    </modules>
    <global>
        <models>
            <evozon_core>
                <class>Evozon_Core_Model</class>
            </evozon_core>
            <index>
                <rewrite>
                    <process>Evozon_Core_Model_Index_Process</process>
                </rewrite>
            </index>
        </models>
        <helpers>
            <evozon_core>
                <class>Evozon_Core_Helper</class>
            </evozon_core>
            <core>
                <rewrite>
                    <http>Evozon_Core_Helper_Core_Http</http>
                </rewrite>
            </core>
        </helpers>

        <events>
            <!-- Index event type "delete" on "catalog_category" entity -->
            <catalog_category_delete_before>
                <observers>
                    <evozon_core_index_logCatalogCategoryEventDelete>
                        <class>evozon_core/index_observer</class>
                        <method>logCatalogCategoryEventDelete</method>
                    </evozon_core_index_logCatalogCategoryEventDelete>
                </observers>
            </catalog_category_delete_before>
            <catalog_category_delete_commit_after>
                <observers>
                    <evozon_core_index_indexCatalogCategoryEventDelete>
                        <class>evozon_core/index_observer</class>
                        <method>indexCatalogCategoryEventDelete</method>
                    </evozon_core_index_indexCatalogCategoryEventDelete>
                </observers>
            </catalog_category_delete_commit_after>
            <!-- /Index event type "delete" on "catalog_category" entity -->
        </events>
    </global>
</config>
